[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Package Manager
Comment=Slackware Linux package management tool
Exec=gnomesu gnome-pkgtool
Icon=gnome-pkgtool.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Application;System;
StartupNotify=true
GenericName[en_US]=GNOME pkgtool
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Package Manager
Comment=Slackware Linux package management tool
Exec=gnomesu gnome-pkgtool
Icon=gnome-pkgtool.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Application;System;
StartupNotify=true
GenericName[en_US]=GNOME pkgtool
