[Desktop Entry]
Encoding=UTF-8
Name=Sylpheed
GenericName=Lightweight Email Client
Comment=Sylpheed Email Client
Exec=sylpheed
Icon=/usr/share/pixmaps/sylpheed.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Email;
