
#
# Site Apache Options (deny indexes, disable SSI, and disable CGI)
#
Options -Indexes -Includes -ExecCGI

#
# Direcory Index Options
#
DirectoryIndex index.php index.pxml index.html

#
# special files to deny a web browser from peeking at
#
<Files ~ "^news\.txt">
  Order allow,deny
  Deny from all
</Files>

<Files ~ "^(.*)\.html">
  Order allow,deny
  Deny from all
</Files>

<Files ~ "^(.*)_inc\.php">
  Order allow,deny
  Deny from all
</Files>

<Files ~ "(.*)\.sh">
  Order allow,deny
  Deny from all
</Files>

#
# mod_rewite rules - make URI's friendly
#
RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [S=50]
    RewriteRule ^news/?$ /?news_page=0 [QSA,L]
    RewriteRule ^news/?([0-9]{1,})/?$ /?news_page=$1 [QSA,L]
    RewriteRule ^changelog/(.*)?$ /index.php?op=changelog&cl_ver=$1 [QSA,L]
    RewriteRule ^about/?$  /index.php?op=about [QSA,L]
    RewriteRule ^about/software/?$  /index.php?op=about&show_software=true [QSA,L]
    RewriteRule ^downloads/?$  /index.php?op=download [QSA,L]
    RewriteRule ^download/?$  /index.php?op=download [QSA,L]
    RewriteRule ^download/ports/?$  /index.php?op=download&ports=true [QSA,L]
    RewriteRule ^development/?$  /index.php?op=development [QSA,L]
    RewriteRule ^screenshots/?$  /index.php?op=screenshots [QSA,L]
    RewriteRule ^support/?$  /index.php?op=support [QSA,L]
    RewriteRule ^faqs/?$  /support/ [R,L]
    RewriteRule ^random-screenthumb$  /common/screenthumb-rot.php [QSA,L]
    #  Legacy net-installer:  maybe back one day.  moved to pasture/
    #RewriteRule ^net-install/?$  /net-install.php [QSA,L]
    #RewriteRule ^net-install/current/?$  /net-install.php?use_ver=current [QSA,L]
    #RewriteRule ^net-install/unstable/?$  /net-install.php?use_ver=unstable [QSA,L]
    RewriteRule ^installation/?$  /download/ [R,L]
    #  this stuff redirs the RSS feed to FeedBurner #
    RewriteCond %{HTTP_USER_AGENT} !^FeedBurner.*
    RewriteRule ^changelog.xml$ http://feeds.feedburner.com/gsb-current-changelog [R,L]
    RewriteRule ^changelog.xml$ /common/changelog2rss.php [L]

#
# error handling
#
ErrorDocument 404 /index.php?op=http_error&errno=404
ErrorDocument 403 /index.php?op=http_error&errno=403
ErrorDocument 401 /index.php?op=http_error&errno=401

#
# misc
#
AddType application/OmniGraffle .graffle
AddDescription "OmniGraffle Document" *.graffle
AddDescription "PNG Graphic" *.png
AddIcon (Back,/images/icons/up.png) ..
AddIcon (OmniGraffle,/images/icons/document.png) *.graffle
AddIcon (PDF,/images/icons/document.png) *.pdf
AddIcon (PNG,/images/icons/image.png) *.png

