# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=frg.xml
Name=FRG GDM THEME
Description=Freerock's GNOME GDM Theme
Author=freerock <freerock@gmail.com>, Fabian Deutsch <fabian.deutsch@gmx.de>, Tuomas Kuosmanen <tigert@novell.com>
Copyright=© 2005 freerock 
Screenshot=screenshot.png
