# Allow user in group 'polkituser' to change the timezone without password.
#
#[Desktop User Permissions]
#Identity=unix-group:polkituser
#Action=org.gnome.clockapplet.mechanism.settimezone
#ResultAny=no
#ResultInactive=no
#ResultActive=yes

# Allow user in 'polkitadmin' access to clock and disks without password.
# 
#[Desktop Administrator Permissions]
#Identity=unix-group:polkitadmin
#Action=org.gnome.clockapplet.mechanism.*;org.freedesktop.devicekit.disks.*
#ResultAny=no
#ResultInactive=no
#ResultActive=yes
