[Desktop Entry]
Encoding=UTF-8
Name=Compiz GNOME
Name[af]=Compiz GNOME
Name[ar]=جنوم
Name[as]=Compiz GNOME
Name[az]=Compiz GNOME
Name[be]=Compiz GNOME
Name[bg]=Compiz GNOME
Name[bn]=Compiz GNOME
Name[bn_IN]=Compiz GNOME
Name[bs]=Compiz GNOME
Name[ca]=Compiz GNOME
Name[cs]=Compiz GNOME
Name[cy]=Compiz GNOME
Name[da]=Compiz GNOME
Name[de]=Compiz GNOME
Name[dz]=ཇི་ནོམ།
Name[el]=Compiz GNOME
Name[en_CA]=Compiz GNOME
Name[en_GB]=Compiz GNOME
Name[es]=Compiz GNOME
Name[et]=Compiz GNOME
Name[eu]=Compiz GNOME
Name[fa]=گنوم
Name[fi]=Gnome
Name[fr]=Compiz GNOME
Name[ga]=Compiz GNOME
Name[gl]=Gnome
Name[gu]=જીનોમ
Name[he]=Compiz GNOME
Name[hi]=गनोम
Name[hr]=Compiz GNOME
Name[hu]=Compiz GNOME
Name[hy]=ԳՆՈՄ
Name[id]=Compiz GNOME
Name[is]=Compiz GNOME
Name[it]=Compiz GNOME
Name[ja]=Compiz GNOME
Name[ka]=გნომი
Name[kn]=Compiz GNOME
Name[ko]=그놈
Name[ku]=Compiz GNOME
Name[lt]=Compiz GNOME
Name[lv]=Compiz GNOME
Name[mg]=Compiz GNOME
Name[mi]=Compiz GNOME
Name[mk]=Compiz GNOME
Name[ml]=Compiz GNOME
Name[mn]=ГНОМЕ
Name[mr]=जीनोम
Name[ms]=Compiz GNOME
Name[nb]=Compiz GNOME
Name[ne]=जिनोम
Name[nl]=Compiz GNOME
Name[nn]=Compiz GNOME
Name[nso]=Compiz GNOME
Name[oc]=Compiz GNOME
Name[or]=ନୋମ
Name[pa]=ਗਨੋਮ
Name[pl]=Compiz GNOME
Name[pt]=Compiz GNOME
Name[pt_BR]=Compiz GNOME
Name[ro]=Compiz GNOME
Name[ru]=Compiz GNOME
Name[si]=Compiz GNOME
Name[sk]=Compiz GNOME
Name[sl]=Compiz GNOME
Name[sq]=Compiz GNOME
Name[sr]=Гном
Name[sr@Latn]=Gnom
Name[sv]=Compiz GNOME
Name[ta]=க்நோம்
Name[te]=గ్నోమ్
Name[th]=Compiz GNOME
Name[tr]=Compiz GNOME
Name[uk]=Compiz GNOME
Name[uz]=Compiz GNOME
Name[uz@cyrillic]=Compiz GNOME
Name[vi]=Compiz GNOME
Name[wa]=Compiz GNOME
Name[xh]=i-Compiz GNOME
Name[zh_CN]=Compiz GNOME
Name[zh_HK]=Compiz GNOME
Name[zh_TW]=Compiz GNOME
Name[zu]=Compiz GNOME
Comment=This session logs you into Compiz GNOME
Comment[af]=Hierdie sessie laat jou aanmeld by Compiz GNOME
Comment[ar]=تسجلك هذه الجلسة في جنوم
Comment[as]=এই অধিবেশনে Compiz GNOME ত প্ৰৱেশ কৰিব
Comment[az]=Bu iclas sizi Compiz GNOME-a daxil edəcəkdir
Comment[be]=Гэтая сэсыя завядзе вас у Compiz GNOME
Comment[bg]=Тази сесия включва Compiz GNOME
Comment[bn]=এই সেশানে Compiz GNOME'এ লগ-ইন করা হবে
Comment[bn_IN]=এই সেশানে Compiz GNOME'এ লগ-ইন করা হবে
Comment[bs]=Ova sesija Vas prijavljuje u Compiz GNOME
Comment[ca]=Amb aquesta sessió accedireu al Compiz GNOME
Comment[cs]=Toto sezení vás přihlásí do Compiz GNOME
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i Compiz GNOME
Comment[da]=Denne session logger dig på Compiz GNOME
Comment[de]=Diese Sitzung meldet Sie an Compiz GNOME an
Comment[dz]=ལཱ་ཡུན་འདི་གིས་ ཁྱོད་ཇི་ནོམ་ནང་ ནང་བསྐྱོད་འབད་འོང་།
Comment[el]=Αυτή η συνεδρία σας εισάγει στο Compiz GNOME
Comment[en_CA]=This session logs you into Compiz GNOME
Comment[en_GB]=This session logs you into Compiz GNOME
Comment[es]=Esta sesión accede a Compiz GNOME
Comment[et]=See seanss logib sing Compiz GNOME keskkonda
Comment[eu]=Saio honen bidez Compiz GNOMEn sartuko zara
Comment[fa]=این نشست شما را وارد گنوم می‌کند
Comment[fi]=Tämä istunto kirjaa sisään Gnomeen
Comment[fr]=Cette session vous connectera dans Compiz GNOME
Comment[gl]=Inicie unha sesión en Gnome
Comment[gu]=આ સત્ર તમને જીનોમમાં પ્રવેશ આપશે
Comment[he]=תצורת הפעלה זו מחברת אותך ל Compiz GNOME
Comment[hi]=यह सत्र गनोम में लॉगइन होगा
Comment[hr]=Ova sesija vas prijavljuje na Compiz GNOMEa
Comment[hu]=Ez a környezet a Compiz GNOME-ba jelentkezteti be
Comment[hy]=ԳՆՈՄ միջավայր մտնելու համար
Comment[id]=Pada sesi ini Anda masuk dengan menggunakan Compiz GNOME
Comment[it]=Sessione di lavoro con Compiz GNOME
Comment[ja]=Compiz GNOME セッションにログインします
Comment[ka]=ეს სესია გნომში შეგიყვანთ
Comment[kn]=ಈ ಅಧಿವೇಶನವು ನಿಮ್ಮನ್ನು Compiz GNOME ಗೆ ಪ್ರವೇಶಿಸುವಂತೆ ಮಾಡುತ್ತದೆ
Comment[ko]=세션에서 그놈에 로그인합니다
Comment[ku]=Bi vê rûniştinê tu dikevî Compiz GNOME'yê
Comment[lt]=Šis seansas prijungia jus prie Compiz GNOME
Comment[lv]=Šī sesija pieslēdz jūs Compiz GNOME videi
Comment[mg]=Mampiditra anao anatin'ny Compiz GNOME ity session ity
Comment[mk]=Оваа сесија ве најавува во Compiz GNOME
Comment[ml]=ഇവിടെ നിന്നും നിങ്ങള്‍ Compiz GNOME-ലേക്ക് പ്രവേശിക്കുന്നു
Comment[mn]=Энэ суултаар та ГНОМЕ руу нэвтрэнэ.
Comment[mr]=हे सत्र तुम्हाला जीनोम मधे प्रवेश करू देईल
Comment[ms]=Sesi ini akan log anda  ke Compiz GNOME
Comment[nb]=Denne sesjonen logger deg inn til Compiz GNOME
Comment[ne]=यो सत्रले तपाईँलाई जिनोममा लग गर्दछ ।
Comment[nl]=Deze sessie meldt u aan bij Compiz GNOME
Comment[nn]=Denne økta loggar inn i Compiz GNOME
Comment[nso]=Lenaneo le le go tsentšha go Compiz GNOME
Comment[oc]=La session vos connectarà dins Compiz GNOME
Comment[or]=ଏହି ଅଧିବେଶନ ଆପଣଙ୍କୁ ନୋମ ରେ ଲଗ କରାଇଥାଏ
Comment[pa]=ਇਹ ਸ਼ੈਸ਼ਨ ਤੁਹਾਨੂੰ ਗਨੋਮ ਵਿੱਚ ਲੈ ਜਾਏਗਾ
Comment[pl]=Sesja logowania do Compiz GNOME
Comment[pt]=Inicia uma sessão no Compiz GNOME
Comment[pt_BR]=Inicia uma sessão no Compiz GNOME
Comment[ro]=Această sesiune vă va autentifica în Compiz GNOME
Comment[ru]=Начать сеанс Compiz GNOME
Comment[sk]=Táto relácia vás prihlási do prostredia Compiz GNOME
Comment[sl]=Ta seja vas prijavi v GNOMe
Comment[sq]=Kjo seancë do t'ju fusë në Compiz GNOME
Comment[sr]=Ова сесија вас уводи у Гномов свет
Comment[sr@Latn]=Ova sesija vas uvodi u Gnomov svet
Comment[sv]=Den här sessionen loggar in dig i Compiz GNOME
Comment[ta]=இந்த அமர்வு க்நோம் இல் உங்களை நுழைக்கும்
Comment[te]=ఈ సమకూర్పు మీకు గ్నోమ్ లోకి నమోదుచేస్తుంది
Comment[th]=วาระนี้จะนำคุณเข้าสู่ Compiz GNOME
Comment[tr]=Bu oturum ile Compiz GNOME'a giriş yaparsınız
Comment[uk]=Почати сеанс Compiz GNOME
Comment[uz]=Compiz GNOME seansini boshlash
Comment[uz@cyrillic]=Compiz GNOME сеансини бошлаш
Comment[vi]=Phiên chạy này đăng nhập bạn vào Compiz GNOME
Comment[xh]=Le seshoni ikungenisa kwi-Compiz GNOME
Comment[zh_CN]=此会话使您登录到 Compiz GNOME
Comment[zh_HK]=本作業階段會登入 Compiz GNOME 桌面環境
Comment[zh_TW]=本作業階段會登入 Compiz GNOME 桌面環境
Comment[zu]=Lenhlanganiso ikungenisa kwiCompiz GNOME
Exec=/etc/X11/xinit/xinitrc.compiz-gnome
# no icon yet, only the top three are currently used
Icon=
Type=Application
