/* This is the stylesheet modern browser will use to print your pages. */

a {
	color: #000;
}

body {
	font-size: 0.9em;
    float: none;
	margin: 5% 5%;
	padding: 0px;
	width: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, helvetica, sans-serif;
	font-weight: bold;
}

blockquote {
    font-style: italic;
}

#footer, #side-bar, .doNotPrint, #subfoot, img {
	display: none;
}
