/* 

    GSB common CSS <http://gnomeslackbuild.org>
    Chip Cuccio <http://chip.cuccio.us>
    $Id: style.css 2856 2007-11-22 17:54:04Z chipster $

*/

/* #### common styles #### */

body {
    background: #fff;
    color: #000;
    font-family: "Lucida Grande", "Bitstream Vera Sans", Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 95%;
    text-align: center;
}

#container {
    text-align: center;
}

#wrapper {
    color: inherit;
    background: #fff;
    min-width: 800px;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5em 1em;
    line-height:1.3em;
    text-align: left;
    position: relative;
}

#subfoot {
    color: #000;
    background: inherit;
    padding: 1em 0;
    font-size: smaller;
    font-weight: bold;
}

#subfoot a {
    color: #147; 
    background: inherit;
    text-decoration: underline;
}

#subfoot a:hover {
    background: #fff;
    color: #147;
    text-decoration: none;
}

hr {
    color: white;
    background-color: #ddd;
    height: 1px;
    border: 0px;
}

.stremph {
    font-style: italic;
    font-weight: bold;
}

.str {
    font-weight: bold;
}

.emph {
    font-style: italic;
}

.hilite { 
    background-color: #ffc; 
    color: inherit;
}

pre {
    background-color: #ddd;
    color: inherit;
    padding: 1.2ex;
    border: 1px solid #999;
}

.introthumb {
    margin: 15px 0px 5px 5px;
    padding: 8px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    color: inherit;
    background: #eee;
    float: right;
    font-size: x-small;
    text-align: center;
}

a .introthumb:hover {
    background: #ccc;
    color: inherit;
}

.version {
    font-weight: normal;
    color: #cc0000;
    background: inherit;
}

.faqhead {
    font-style: italic;
    font-weight: bold;
}

.faqentry {
    margin: 0 0 0 2.8em;
}

img.screenthumb {
    vertical-align: middle;
    background-color: #eee;
    color: inherit;
    border-bottom: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    padding: 8px;
    margin: 25px 25px 0 0;
}

a img.screenthumb:hover {
    background: #ccc;
    color: inherit;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
} 

.boilerplate {
    position: relative;
    margin-top: auto;
    float: right;
    text-align: right;
    margin-right: 1ex;
    font-size: smaller;
    font-style: italic;
    padding-top: 2.5em;
}

.news_entry {
    margin: 0 0 0 2em;
    padding-top: 1em;
}

.newsheader {
    font-size: small;
    font-style: italic;
    font-weight: normal;
    line-height: 0; 
}

#side-bar {
    background: white;
    color: inherit;
}

pre,code,tt {
    font-size: 1.1em;
    line-height:1em;
}

input, select, option {
    font-size: 12px;
}

img {
    border: 0 none;
}

.indent, .italic {
    font-style: italic;
    margin: 0.5em 0 0 1.2em;
    padding: 0.5em 0 0 0;
    border: 0px;
}

hr.print {
    border: 0px;
    height: 0px;
}

acronym, .titleTip {
    border-bottom: 1px dotted rgb(153,153,153);
    cursor: help;
    margin: 0;
    padding: 0 0 0.4px 0;
}

.doNotDisplay {
    display: none;
}


/* ##### Header ##### */

.bannerTitle {
    font-style: italic;
    font-weight: bold;
}

.headerTitle {
    font-weight: bold;
    font-style: italic;
    margin: 0 0 0 0;
    padding: 0.25ex 0;
}

.subHeader {
    color: white;
    background-color: rgb(35,90,157);
    margin: 0;
    padding: 0.2ex 1ex 0.2ex 1.5mm;
    background-image:url(/images/GSB_Logo-4.png);
    background-repeat:no-repeat;
    background-position: center left;
    height: 141px;
    min-width: 800px;
}

.subHeader a {
    color: white;
    background-color: inherit;
}  

.subHeader a:hover {
    text-decoration: none;
}

.superHeader .highlight, .subHeader .highlight {
    color: rgb(253,160,91);
    background-color: inherit; 
}

.subHeader h1 a {
    position: absolute;
    left: 0;
    top: 0;
    height: 140px;
    width: 440px;
    text-indent: -9999em;
    text-decoration: none;
}

/* ##### Side Bar ##### */

#side-bar {
    display: inline;
    list-style: none;
    color: #000;
    background: inherit;
    text-align: left;
}

#side-bar div {
    border-bottom: 1px solid #eee;
}

#side-bar div.sep {
    border-bottom: 1px solid rgb(153,153,153);
}

.sideBarTitle {
    display: none;
}

#side-bar ul {
    margin: 0;
    padding: 0 0 0.5em 0;
}

#side-bar li {
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: inline;
    list-style: none;
}

#side-bar a {
    color: #147;
    background-color: inherit;
    text-decoration: none;
    margin: 0 1em 0 0;
    padding: 0;
}

#side-bar a:hover {
    color: #06c;
    text-decoration: none;
    background: rgb(255,255,255);
    border-bottom: 2px solid rgb(153,153,153);
}

#side-bar .thisPage {
    text-decoration: none;
    color: #555;
    background-color: #ddd;
    border-bottom: 2px solid rgb(153,153,153);
}

#side-bar .thisPage:hover {
    text-decoration: none;
    color: #555;
    background-color: #ddd;
    border-bottom: 2px solid rgb(153,153,153);
}

.sideBarText {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0 1.5ex 0 2.5mm;
    display: block;
}

#side-bar .sideBarText a {
    text-decoration: underline;
    margin: 0;
    padding: 0;
    display: inline;
}

#side-bar .sideBarText a:hover {
    color: rgb(0,102,204);
    background-color: inherit;
    text-decoration: none;
}

.lighterBackground {
  color: inherit;
  background-color: white;
}


/* ##### Main body ##### */

#main-body {
    color: #000;
    background-color: white;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}

#main-body p {
    margin: 1em 1ex 1em 0;
    padding: 0;
}

#main-body a {
    color: #147;
    background-color: inherit;
    text-decoration: underline;
}

#main-body a:hover {
    text-decoration: none;
    color: #06c;
    background-color: inherit;
}

#main-body h1 {
    border-bottom: 1px solid #ddd;
    margin: 1em 0 0 0;
    padding: 0.5ex 0 1.0ex 0;
    line-height: 1.4em;
}

#main-body h2 {
    border-bottom: 0px solid #ddd;
    margin: 0.85em 0 0 0;
    padding: 0.5ex 0 0.6ex 0;
    line-height: 1.2em;
    font-weight: normal;
}

#main-body h3 {
    margin: 1em 0 0 0;
    padding: 0.5ex 0 .5ex 0;
    line-height: 1em;
}

#main-body .topOfPage {
    color: rgb(35,90,157);
    background-color: inherit;
    text-decoration: none;
    float: right;
    padding: 2.1em 0 0 0;
}

dl {
    margin: 1em 1ex 2em 1ex;
    padding: 0;
}

dt {
    margin: 0 0 0 0;
    padding: 0;
    font-weight: bold;
}

dd {
    margin: 0 0 1em 2em;
    padding: 0;
}


/* ##### Footer ##### */

.footLinkTop {
    padding: 3px 0 3px 0;
}

.footLink {
    border-width: 0;
}

#footer {
    color: black;
    background: #eeeeee;
    margin: 0;
    padding: 1em 2.5mm 2.5ex 2.5mm;
    clear: both;
    font-size: small;
    border-top: 1px solid rgb(153,153,153);
}

#footer .left {
    line-height: 1.45em;
    float: left;
    clear: left;
}

#footer .right {
    text-align: right;
    line-height: 1.45em;
}

#footer a {
    color: #147;
    background-color: inherit;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}

/* ### other crap ### */

a {
    outline: none;
}

a:active {
    outline: none;
}

.bookmark {
    color: inherit; 
    background: #147;
    font-style: normal;
    font-weight: normal;
    font-size: smaller;
    padding: 8px;
    border: 1px solid #333;
    margin-right: 0;
} 

.bookmark a {
    color: #9FEAFF;
    background: inherit;
    font-weight: bold;
    text-decoration: none;
    line-height: 16px !important;
    padding: 2px 5px 2px 20px;
    margin: 0 5px 0 0;
}

.bookmark a.delicious {
    background:url(/images/icons/delicious.gif) no-repeat 0 50%;
}

.bookmark a.digg {
    background:url(/images/icons/digg.gif) no-repeat 0 50%;
}

.bookmark a.blink {
    background:url(/images/icons/blink.gif) no-repeat 0 50%;
}

.bookmark a:hover {
    border-bottom: 1px dotted #eee;
}
.changelog {
    line-height: 1.0em;
}

.listimg-l {
	float:left;
	font-size:x-small;
	text-align:center;
	margin:0 7px 0 0;
	padding:6px;
}

.listimg-r {
	float:right;
	font-size:x-small;
	text-align:center;
	margin:0 0 0 7px;
	padding:6px;
}

.padbox {
    padding: 10px;
}

.news_row_alt {
    background: #FAFAFA;
    color: inherit;
    padding: 0 10px 10px 10px;
    margin: 0 7px 7px 0;
    border: 1px dotted #ddd
}

.news_row {
    background: #EDEDED;
    color: inherit;
    padding: 0 10px 10px 10px;
    margin: 0 7px 7px 0;
    border: 1px dotted #ddd
}
