[Desktop Entry]
Encoding=UTF-8
Name=Dvdrip
GenericName=DVD Ripper
Comment=dvdrip DVD Ripper
Exec=sylpheed
Icon=/usr/share/pixmaps/dvdrip.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;AudioVideo;
