/* 

    GSB common CSS <http://gsb.sf.net>
    Chip Cuccio <chipster@norlug.org>
    $Id$

*/

/* #### common styles #### */

body {
  color: black;
  background-color: rgb(240,240,240);
  font-family: "Lucida Grande", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

hr {
    color: black;
    background-color: black;
    height: 1px;
    border: 0px;
}

img.screenthumb {
    vertical-align: middle;
    margin: 0 15px 15px 0;
    border: 1px solid rgb(0,51,153);
}

.boilerplate {
   position: absolute;
   right: 1.5mm;
   top: 0.25ex;
   text-align: right;
   margin-right: 1ex;
   font-size: small;
}

.news_entry {
    margin: 0 0 0 4em;
}

.newsheader {
    font-size: x-small;
    font-style: italic;
    font-weight: normal;
}


#side-bar .imglink:hover {
    background: transparent;
}

pre,code,tt {
    font-size: 1.2em;
}

input, select, option {
   font: 12px "Lucida Grande", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
}

img {
    border: 0 none;
}

#main-body .geeklink {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Optima, "bitstream vera serif", georgia, "times new roman", serif;
}

.indent, .italic {
    font-style: italic;
    margin: 0.5em 0 0 1.2em;
    padding: 0.5em 0 0 0;
    border: 0px;
}

hr.print {
    border: 0px;
    height: 0px;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(153,153,153);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

.doNotDisplay {
  display: none;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}

span.caption {
  font-style: italic;
  font-size: 90%;
}

legend.strong {
  font-family: "Lucida Grande", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 105%;
}

fieldset {
  padding: 5px 5px 5px 5px;
}

div.ads {
  text-align: center;
}      


/* ##### Header ##### */

.bannerTitle {
    font-style: italic;
    font-weight: bold;
    font-family: "Lucida Grande", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
}

.headerTitle {
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
  font-family: "Lucida Grande", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
  margin: 0 0 0 0;
  padding: 0.25ex 0;
}

.subHeader {
  color: white;
  background-color: rgb(0,51,153);
  margin: 0;
  padding: 0.2ex 1ex 0.2ex 1.5mm;
}

.subHeader a {
  color: white;
  background-color: transparent;
  /*text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;*/
}  

.subHeader a:hover {
    color: rgb(140,170,230);
}

.superHeader .highlight, .subHeader .highlight {
  color: rgb(253,160,91);
  background-color: transparent;
}


/* ##### Side Bar ##### */

#side-bar {
  width: 12em;
  float: left;
  clear: left;
  border-right: 1px solid rgb(153,153,153);
}

#side-bar div {
  border-bottom: 1px solid rgb(153,153,153);
}

.sideBarTitle {
  font-family: Optima, "bitstream vera serif", georgia, "times new roman", serif;
  font-size: medium;
  font-weight: bold;
  margin: 0 0 0.5em 2.5mm;
  padding: 0.5em 0 0 0;
}

#side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0.5em 0;
}

#side-bar li {
  margin: 0;
  font-size: 1.0em;
  padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
}

#side-bar a, .thisPage {
  color: rgb(0,51,153);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0.1em 1ex 0.1em 5mm;
  display: block;
  font-family: "Lucida Grande", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
  font-weight: bold;
}

.thisPage {
  color: black;
  background-color: white;
  padding-left: 4mm;
  border-top: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
}

#side-bar a:hover {
  /*color: white;
  background-color: rgb(0,51,153);*/
  color: rgb(0,51,153);
  text-decoration: underline;
}

.sideBarText {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0 1.5ex 0 2.5mm;
  display: block;
}

#side-bar .sideBarText a {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: inline;
}

#side-bar .sideBarText a:hover {
  color: rgb(0,102,204);
  background-color: transparent;
  text-decoration: none;
}

.lighterBackground {
  color: inherit;
  background-color: white;
}


/* ##### Main body ##### */

#main-body {
  color: black;
  background-color: white;
  line-height: 1.3em;
  margin: 0 0 0 12em;
  padding: 0.5mm 5mm 5mm 5mm;
  border-left: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
}

#main-body p {
  margin: 1em 1ex 1em 0;
  padding: 0;
}

#main-body a {
  color: rgb(0,51,153);
  background-color: transparent;
  text-decoration: underline;
}

#main-body a:hover {
  text-decoration: none;
}

#main-body h1 {
  border-bottom: 1px solid black;
  margin: 1em 0 0 0;
  padding: 0.5ex 0 1.0ex 0;
  line-height: 1.0em;
  font-size: 1.6em;
}

#main-body h2 {
    margin: 1em 0 0 0;
    padding: 0.5ex 0 1.0ex 0;
    line-height: 1.0em;
    font-size: 1.2em;
}

#main-body h2 {
    margin: 1em 0 0 0;
    padding: 0.5ex 0 1.0ex 0;
    line-height: 1.0em;
    font-size: 1.2em;
}

#main-body h3 {
    margin: 1em 0 0 0;
    padding: 0.5ex 0 1.0ex 0;
    line-height: 1.0em;
    font-size: 0.9em;
}

#main-body .topOfPage {
  color: rgb(0,51,153);
  background-color: transparent;
  text-decoration: none;
  float: right;
  padding: 2.1em 0 0 0;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}


/* ##### Footer ##### */

.footLinkTop {
    padding: 3px 0 3px 0;
}

.footLink {
    border-width: 0;
}

#footer {
  color: white;
  background-color: rgb(0,51,153);
  margin: 0;
  padding: 1em 2.5mm 2.5ex 2.5mm;
  clear: both;
}

#footer .left {
  line-height: 1.45em;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
  line-height: 1.45em;
}

#footer a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none;
}
