[Desktop Entry]
Encoding=UTF-8
Name=GNOME Cups Print Manager
GenericName=Print Manager
Comment=GNOME Cups Print Manager
Exec=gnome-cups-manager
Icon=gnome-dev-printer.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
