[Desktop Entry]
Encoding=UTF-8
Name=Authorizations (Admin)
Name[ca]=Autoritzacions (Admin)
Name[cs]=Oprávnění (Admin)
Name[de]=Zugriffsberechtigungen (Admin)
Name[el]=Εξουσιοδοτήσεις (Admin)
Name[en_GB]=Authorisations (Admin)
Name[es]=Autorizaciones (Admin)
Name[fi]=Valtuutukset (Admin)
Name[fr]=Autorisations (Admin)
Name[he]=הרשאות (Admin)
Name[hu]=Jogosultságok (Admin)
Name[ja]=権限の管理 (Admin)
Name[pl]=Upoważnienia (Admin)
Name[pt]=Autorizações (Admin)
Name[pt_BR]=Autorizações (Admin)
Name[ru]=Авторизации (Admin)
Name[sk]=Oprávnenia (Admin)
Name[sv]=Behörigheter (Admin)
Name[zh_CN]=授权 (Admin)
Comment=Configure authorizations
Comment[ca]=Configura les autoritzacions
Comment[cs]=Nastavit oprávnění
Comment[de]=Zugriffsberechtigungen einstellen
Comment[el]=Ρύθμιση εξουσιοδοτήσεων
Comment[en_GB]=Configure authorisations
Comment[es]=Configure sus autorizaciones
Comment[fi]=Aseta valtuutukset
Comment[fr]=Configurer les autorisations
Comment[he]=הגדרת הרשאות
Comment[hu]=Jogosultságok beállítása
Comment[ja]=いろいろな権限を設定します
Comment[pl]=Konfiguracja upoważnień
Comment[pt]=Configurar autorizações
Comment[pt_BR]=Configurar autorizações
Comment[ru]=Настройка авторизаций
Comment[sk]=Nastaviť oprávnenia
Comment[sv]=Konfigurera behörigheter
Comment[zh_CN]=配置授权
Icon=gtk-dialog-authentication
Exec=gksu "dbus-launch polkit-gnome-authorization"
Terminal=false
Type=Application
Categories=Settings;System;
OnlyShowIn=GNOME;
StartupNotify=true
