[Desktop Entry]
Name=Slapt Update Notifier
Comment=Slapt Update Notifier
Icon=
Exec=slapt-update-notifier --sm-disable
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME
