[Desktop Entry]
Encoding=UTF-8
Exec=gksu -k /usr/sbin/gslapt -c /etc/slapt-get/gsb.slapt-getrc
Name=Install GSB Packages
Comment=Install, remove and upgrade GNOME SlackBuild packages
Icon=/usr/share/pixmaps/gslapt.png
Terminal=false
Categories=PackageManager;System;Settings;
StartupNotify=true
Type=Application
NotShowIn=KDE
