# Sample gsb.options configuration file
# 

# For Slamd64
#export ARCH="x86_64"
#export TUNE="k8"
#export DISTRO="slamd64"
#export TMP=/home/builds/tmp
#export PKGDEST=/home/builds/gsb-packages
#export GSB_MAKE_FLAGS="-j4"

# For Slackware 12
#export ARCH="i686"
#export TUNE="i686"
#export DISTRO="slackware"
#export TMP=/home/builds/tmp
#export PKGDEST=/home/builds/gsb-packages
#export GSB_MAKE_FLAGS="-j2"
