# Sample gsb.options configuration file
# 

# For Slackware 12
#export ARCH="i586"
#export TUNE="i686"
#export DISTRO="slackware"
#export TMP=/alternative/tmp
#export PKGDEST=/alternative/dir/gsb-tree/packages
#export GSB_MAKE_FLAGS="-j2"

# For Slamd64
#export ARCH="x86_64"
#export TUNE="k8"
#export DISTRO="slamd64"
#export TMP=/alternative/tmp
#export PKGDEST=/alternative/dir/gsb-tree/packages
#export GSB_MAKE_FLAGS="-j4"
