#
# Site Apache Options (deny indexes, disable SSI, and disable CGI)
#
Options -Indexes -Includes -ExecCGI

#
# Direcory Index Options
#
DirectoryIndex index.php

#
# mod_rewite rules - make URI's friendly and easy to document/recite/remember
#
RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [S=50]
    RewriteRule ^news/?$ /index.php?news_page=0 [QSA,L]
    RewriteRule ^news/?([0-9]{1,})/?$ /index.php?news_page=$1 [QSA,L]
    RewriteRule ^changelog/(.*)?$ /index.php?op=changelog&frg_ver=$1 [QSA,L]
    RewriteRule ^about/?$  /index.php?op=about [QSA,L]
    RewriteRule ^download/?$  /index.php?op=download [QSA,L]
    RewriteRule ^downloads/?$  /index.php?op=download [QSA,L]
    RewriteRule ^development/?$  /index.php?op=development [QSA,L]
    RewriteRule ^help/?$  /index.php?op=help [QSA,L]
    RewriteRule ^installation/?$  /index.php?op=installation [QSA,L]
    RewriteRule ^links/?$  /index.php?op=links [QSA,L]
    RewriteRule ^roadmap/?$  /index.php?op=roadmap [QSA,L]
    RewriteRule ^screenshots/?$  /index.php?op=screenshots [QSA,L]
    RewriteRule ^support/?$  /index.php?op=support [QSA,L]
    RewriteRule ^todo/?$  /index.php?op=todo [QSA,L]
    RewriteRule ^faqs/?$  /index.php?op=faqs [QSA,L]

#
# special files to deny a web browser from peeking at
#
<Files ~ "(\.(sh|html)|(.*)_inc\.php)$">
  Order deny,allow
  Deny from all
</Files>

#
# error handling
#
ErrorDocument 404 /index.php?op=http_error&errno=404
ErrorDocument 403 /index.php?op=http_error&errno=403
ErrorDocument 401 /index.php?op=http_error&errno=401

