#
# Site Apache Options (deny indexes, disable SSI, and disable CGI)
#
Options -Indexes -Includes -ExecCGI

#
# Direcory Index Options (in order)
#
DirectoryIndex index.html index.php

#
# mod_rewite rules - make URI's friendly and easy to document/recite/remember
#
RewriteEngine On
    RewriteBase /
    RewriteRule ^news/(.*)? /index.php?news_page=$1 [QSA]
    RewriteRule ^about/?  /index.php?op=about [QSA]
    RewriteRule ^download/?  /index.php?op=download [QSA]
    RewriteRule ^development/?  /index.php?op=development [QSA]
    RewriteRule ^help/?  /index.php?op=help [QSA]
    RewriteRule ^installation/?  /index.php?op=installation [QSA]
    RewriteRule ^links/?  /index.php?op=links [QSA]
    RewriteRule ^roadmap/?  /index.php?op=roadmap [QSA]
    RewriteRule ^screenshots/?  /index.php?op=screenshots [QSA]
    RewriteRule ^support/?  /index.php?op=support [QSA]
    RewriteRule ^todo/?  /index.php?op=todo [QSA]

#
# special files to deny a web browser from peeking at
#
<Files ~ "^news\.txt">
    Order allow,deny
    Deny from all
</Files>

#<Files ~ "(.*)_inc\.php">
#    Order allow,deny
#    Deny from all
#</Files>

<Files ~ "(.*)\.sh">
    Order allow,deny
    Deny from all
</Files>

